@page "/"

@*#if (Localization)
@using System.Globalization

#endif*@
<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<p>Welcome to your new Telerik Blazor app!</p>

<p>FrameworkNumber: {TVAR_NETNUMBER}</p>
@*#if (FrameworkNumber == "8")
<p>FrameworkNumber == 8</p>
#endif*@
@*#if (FrameworkNumber >= "8")
<p>FrameworkNumber &gt;= 8</p>
#endif*@
@*#if (FrameworkNumber > "8")
<p>FrameworkNumber &gt; 8</p>
#endif*@
@*#if (FrameworkNumber < "9")
<p>FrameworkNumber &lt; 9</p>
#endif*@
@*#if (FrameworkNumber <= "9")
<p>FrameworkNumber &lt;= 9</p>
#endif*@
@*#if (FrameworkNumber == "9")
<p>FrameworkNumber == 9</p>
#endif*@
@*#if (FrameworkNumber >= "9")
<p>FrameworkNumber &gt;= 9</p>
#endif*@
@*#if (FrameworkNumber > "9")
<p>FrameworkNumber &gt; 9</p>
#endif*@
@*#if (FrameworkNumber < "10")
<p>FrameworkNumber &lt; 10</p>
#endif*@
@*#if (FrameworkNumber <= "10")
<p>FrameworkNumber &lt;= 10</p>
#endif*@
@*#if (FrameworkNumber == "10")
<p>FrameworkNumber == 10</p>
#endif*@
@*#if (FrameworkNumber >= "10")
<p>FrameworkNumber &gt;= 10</p>
#endif*@

@*#if (Localization)
<ul>
    <li><strong>CurrentCulture</strong>: @CultureInfo.CurrentCulture</li>
    <li><strong>CurrentUICulture</strong>: @CultureInfo.CurrentUICulture</li>
    <li><strong>Date</strong>: @DateTimeValue.ToShortDateString()</li>
    <li><strong>Number</strong>: @NumericValue.ToString("N2")</li>
    <li><strong>Currency</strong>: @NumericValue.ToString("C2")</li>
</ul>

@code {
    private DateTime DateTimeValue { get; set; } = DateTime.Now;

    private double NumericValue { get; set; } = 123.45;
}
#else
@code {

}
#endif*@