@page "/fetchdata"

<PageTitle>Weather forecast</PageTitle>

@using TelerikBlazorServer.Data
@inject WeatherForecastService ForecastService

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (forecasts == null)
{
    <TelerikLoaderContainer Visible="true" />
}
else
{
    <TelerikGrid Data="@forecasts"
                 Sortable="true"
                 FilterMode="@GridFilterMode.FilterRow"
                 Pageable="true">
        <GridColumns>
            <GridColumn Field="@nameof(WeatherForecast.Date)" DisplayFormat="{0:d}" />
            <GridColumn Field="@nameof(WeatherForecast.TemperatureC)" Title="Temp. (C)" />
            <GridColumn Field="@nameof(WeatherForecast.TemperatureF)" Title="Temp. (F)" />
            <GridColumn Field="@nameof(WeatherForecast.Summary)" />
        </GridColumns>
    </TelerikGrid>
}

@code {
    private WeatherForecast[]? forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
    }
}
